DATABASE_URL=mongodb+srv://techstahr_db_user:Z6PmZlQa0SoBfH0p@techstahr.kdnzgj1.mongodb.net/?appName=Techstahr
DATABASE_NAME=test

JWT_SECRET=saa/5ZVLu/f9+yf/XkWz3G2zEW3b/QG7hxuZelVo+4/ZLLGi/dNuKpHfndi+x+YYqe88nP7gc+u0v+J7xUPQ/w==
JWT_EXPIRATION=24h

# Cloudinary (for file uploads - optional for basic auth)
CLOUDINARY_CLOUD_NAME=ytrertredf
CLOUDINARY_API_KEY=1234654676
CLOUDINARY_API_SECRET=23efv3rf3erfeeferf

# Server Port
PORT=5000 # 5000 kept conflicting with another app so I set it to 3001


FLW_PUBLIC_KEY=FLWPUBK_TEST-a8edbc7dc7e8ad15b716c4b33174ba16-X
FLW_SECRET_KEY=FLWSECK_TEST-e93797ef2a90746cf39ca2193435d37c-X
FLW_ENCRYPTION_KEY=FLWSECK_TEST328c5db511e3
FLW_CLIENT_ID=4069234b-b736-482a-a9e5-19800305e5bc
FLW_CLIENT_SECRET=Wj8zm5XPDwaXAHWdVNYvUsnv685m94Sa 
FLW_BASE_URL=https://developersandbox-api.flutterwave.com
FLW_WEBHOOK_SECRET=7CE9SRXVH8KlBFsgDtEuZk4Km2Ht06GY4Be27b-4db7-b204-0
FLW_DEBUG_LOGS=false


ENABLE_SCREENSHOT_CRON=false


RESEND_API_KEY=



